---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import LatestPublication from "../components/latestpublication.astro";
import FeaturedProject from "../components/featuredproject.astro";
import LatestBlog from "../components/latestblog.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main class="container">
            <div>
                <section class="grid grid-cols-12 gap-4">
                    <div class="col-span-8 flex flex-col justify-center">
                        <h2 class="">Biplab Mahato</h2>
                        <p>PhD Student</p>
                        <p>
                            Institute of Theoretical Physics, University of
                            Wrocław.
                        </p>
                    </div>
                    <div class="col-span-4 ms-32 p-4">
                        <img
                            src="/biplab.JPG"
                            alt="Biplab"
                            class="rounded-xl shadow-lg shadow-slate-400"
                        />
                    </div>
                </section>
                <!-- Institute section -->
                <section>
                    <!-- Photo -->
                    <div></div>
                    <!-- timeline -->
                    <div></div>
                </section>
                <!-- Advertising section -->
                <section>
                    <LatestPublication />
                    <FeaturedProject />
                    <LatestBlog />
                </section>
            </div>
        </main>
        <Footer />
    </body>
</html>
