---
import HeaderLink from "./HeaderLink.astro";
import {
    NavigationMenu,
    NavigationMenuList,
    NavigationMenuItem,
    NavigationMenuLink,
    NavigationMenuContent,
    NavigationMenuTrigger,
} from "@/components/ui/navigation-menu";
import { SITE_TITLE } from "../consts";
const links = [
    { href: "/", text: "Home" },
    { href: "/about", text: "About" },
    { href: "/projects", text: "Projects" },
    { href: "/blog", text: "Blog" },
    { href: "/contact", text: "Contact" },
];
---

<header class="sticky top-0 z-50 shadow-md bg-white/60 backdrop-blur-md">
    <nav class="">
        <div class="container flex justify-between mx-auto">
            <h2 class="uppercase text-lg tracking-wide content-center">
                <a href="/">
                    <img src="favicon.svg" alt="Icon" class="h-6" />
                </a>
            </h2>
            <div class="flex gap-4 my-2">
                {
                    links.map((link) => (
                        <HeaderLink href={link.href}>{link.text}</HeaderLink>
                    ))
                }
            </div>
        </div>
    </nav>
</header>
