---
import type { HTMLAttributes } from "astro/types";

// type Props = HTMLAttributes<"a">;

const { href, class: className } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a href={href} class:list={[className, { active: isActive }]}>
    <slot />
</a>
<style>
    a {
        text-decoration: none;
        padding: 0.4rem 1rem;
        @apply rounded-lg hover:bg-slate-100/40;
    }

    a.active {
        @apply bg-slate-300/40;
    }
</style>
